*, *::before, *::after {
  margin: 0;
  padding: 0;
}
body {
  background-color: #4ED0FF;
}
html {
  scroll-behavior: smooth;
}
h1 {
  /* font-family: minecrafter;  */
  text-align: center; 
  font-size: 7rem;
  color: white;
}
a {
  text-decoration: none;
  color: white
}
h2 {
  padding-bottom: 1rem;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
h3 {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
h4 {
  font-weight: 330;
}
.navbar {
  position: fixed;
  display: flex;
  width: 80%;
  inset-inline: 0;
  margin-inline: auto;
  justify-content: space-around;
  text-shadow: 3px 3px black;
  font-family: 'Poppins', sans-serif;
  border-radius: 0rem 0rem 2rem 2rem;
  background-image: url(bilder/steinbrikker.webp);
  z-index: 15;
}
header {
  position: relative;
  height: 600px;
}
.headerBilde {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Sørger for at bildet fyller hele banneret */
  object-position: center; /* Bestemmer hvor bildet tegnes fra. Kan endres til top eller bootom */
  z-index: 5;
}
.headerTittel {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 2rem;
  width: 50vw;
  height: auto;
  padding-inline: 2rem;
  padding-block: 2rem;
  background-image: url(bilder/log.jpg); 
  z-index: 10;
}
.tekst {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding-top: 1rem;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;
  text-align: center; 
  background-color: #A16639;   
  border: solid 5px #61361E;
  color: white;
  font-size: 3rem;
}
.omserver {
  display: block;
  background-color:red ;
}
.item {
  padding-block: 1rem;
  text-decoration: none;
  font-size: 3vw;
}
.skille {
  padding: 2rem 0rem 2rem 0rem;
  background-color: red;
}
#log {
  width: 100%;
  max-height: 20%;
}
.boks {
  position: relative;
  background-image: url(bilder/log.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 7rem;
  margin-bottom: 1.5rem;
}
.bildeboks {
  margin-top:10rem;
}
.Containers img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 60rem;
  max-height: 30rem;
  position: relative;
  margin: auto;
  border: solid 10px #61361E;
  overflow: hidden;
  object-fit: contain;
}
/* Make the images invisible by default */
.Containers {
  display: none;
}
/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: rgb(255, 255, 255);
  outline-style: dashed;
  outline-color: white;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
/* Place the "forward button" to the right */
.forward {
  right: 0;
  top: 55%;
  border-radius: 4px 0 0 4px;
}
/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  text-shadow: 2px 2px black;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}
/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.enable, .dots:hover {
  background-color: #717161;
}
/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.4s;
  animation-name: fade;
  animation-duration: 3.4s;
}
@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
.spillere {
  background-image: url(bilder/portal.png);
}
.bilder {
  margin-block-end: 3rem;
}
.bunn {
  display: flex;
  margin-block-start: 5rem;
  height: 20rem;
  background-color: #61361E;
}
#f21 {
  height: 16rem;
}
.credits {
  width: 50%;
  padding-block: 2rem;
  /* padding-inline: 2rem; */
  color: white;
  text-align: center;
}
.icon {
  width: 50%;
  padding-block: 2rem;
  /* padding-inline: 2rem; */
  color: white;
  text-align: center;
}
#karusell {
  scroll-padding-top: 50rem;
}
@media only screen and (max-width: 780px) {
  /* .headerTittel {
    padding-inline: 1rem;
    padding-block: 0.2rem;
    margin-block-start: 10rem;
    max-width: 60rem;
    margin: 5rem;
  }
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1rem;
  }
  #f21 {
    height: 10rem;
  }*/
}
@media screen and (max-width: 600px) {
  /* .headerTittel {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    max-width: 60rem;
    margin-block: 2rem;
  }
   h1 {
    font-size: 2.5rem;
  } */
  h3 {
    font-size: 0.9rem;
  }
  #f21 {
    height: 8rem;
  }
}